extends layout
block content
    .container(ng-controller='mainController')
        .row
            .col-md-6.col-md-offset-3
                h1.h1 mediaView: {{hello}}
                    Small
                form.form-horizontal(name="login", action="/admin", method="post")
                    .form-group
                        input.form-control(type="text", ng-model="username", placeholder="email")
                    .form-group
                        input.form-control(type="password", ng-model="password" placeholder="password")
                    .form-group
                        button.bnt.btn-primary(ng-click="{username: password}" type="submit", value="login") log in